In [31]:
import mysql.connector as connection
import pandas as pd
import configparser

In [32]:
config = configparser.ConfigParser()
config.read('config.ini')

['config.ini']

In [33]:
conn = connection.connect(
    host="Bisheshs-MacBook-Pro.local", 
    database = 'ASSIGN',
    user=config['mysql']['user'], 
    password=config['mysql']['password'])

In [34]:
query = "Select * from Persons"
df = pd.read_sql(query,conn)

/var/folders/x3/f2fw5djs1k15pwdfct55236m0000gn/T/ipykernel_14450/701379549.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)

In [35]:
df

,PersonID,LastName,FirstName,Address,City,Email,Age
0,1,Kafle,Bishesh,Kudahar,Pokhara,bisheshkafle18@gmail.com,21
1,2,Kafle,Bishika,Kudahar,Pokhara,kaflebishika@gmail.com,19
2,4,Kafle,Bishesh,Kudahar,Pokhara,bisheshkafle18@gmail.com,22
3,5,Kafle,Bishika,Kudahar,Pokhara,kaflebishika@gmail.com,20
4,13,Kafle,Bishesh,Kudahar,Pokhara,bisheshkafle18@gmail.com,23
5,14,Kafle,Bishika,Kudahar,Pokhara,kaflebishika@gmail.com,21

In [36]:
conn.close()

In [21]:
df.Age = df.Age+4
df.PersonID = df.PersonID+3

In [22]:
df

,PersonID,LastName,FirstName,Address,City,Email,Age
0,13,Kafle,Bishesh,Kudahar,Pokhara,bisheshkafle18@gmail.com,23
1,14,Kafle,Bishika,Kudahar,Pokhara,kaflebishika@gmail.com,21

In [23]:
from sqlalchemy import create_engine

In [14]:
engine = create_engine("mysql+pymysql://root:DatS.bk%4021@Bisheshs-MacBook-Pro.local/ASSIGN")

In [24]:
df.to_sql('Persons', engine, if_exists='append', index=False)

2

In [25]:
engine.clear_compiled_cache()