In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
A = [25, 30, 28, 36, 29]
B = [45, 55, 29, 56, 40]
C = [30, 29, 33, 37, 27]
D = [54, 60, 51, 62, 73]

In [3]:
df = pd.DataFrame({'A': A, 'B': B, 'C': C, 'D': D})
anova_result = stats.f_oneway(df['A'], df['B'], df['C'], df['D'])

In [4]:
print(f'F-statistic: {anova_result.statistic}')
print(f'p-value: {anova_result.pvalue}')

F-statistic: 17.492810457516338
p-value: 2.639241146210922e-05

In [5]:
data = A + B + C + D
groups = ['A']*len(A) + ['B']*len(B) + ['C']*len(C) + ['D']*len(D)

In [7]:
df = pd.DataFrame({'value': data, 'group': groups})

In [8]:
df

    value group
0      25     A
1      30     A
2      28     A
3      36     A
4      29     A
5      45     B
6      55     B
7      29     B
8      56     B
9      40     B
10     30     C
11     29     C
12     33     C
13     37     C
14     27     C
15     54     D
16     60     D
17     51     D
18     62     D
19     73     D

In [9]:
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

A = [25, 30, 28, 36, 29]
B = [45, 55, 29, 56, 40]
C = [30, 29, 33, 37, 27]
D = [54, 60, 51, 62, 73]
data = A + B + C + D

# Combine data and groups into a DataFrame
df = pd.DataFrame({'value': data, 'group': ['A']*len(A) + ['B']*len(B) + ['C']*len(C) + ['D']*len(D)})

# Use pandas Series for the categorical variable
model = ols('value ~ group', data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2) 

print("Analysis of Variance (ANOVA)")
print(anova_table)

Analysis of Variance (ANOVA)
           sum_sq    df         F    PR(>F)
group     3010.95   3.0  17.49281  0.000026
Residual   918.00  16.0       NaN       NaN