In [1]:
import os
import warnings
import findspark

In [2]:
# os.environ['SPARK_HOME'] = "/Users/bses/spark"
# os.environ['PYSPARK_DRIVER_PYTHON'] = "jupyter"
# os.environ['PYSPARK_DRIVER_PYTHON_OPTS'] = "notebook"
# os.environ['PYSPARK_PYTHON'] = "python3"
findspark.init()

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import desc

In [4]:
import os
import warnings
spark = SparkSession.builder \
        .appName('RDD-demo') \
        .getOrCreate()

24/05/05 17:09:13 WARN Utils: Your hostname, Bisheshs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.13.163.225 instead (on interface en0)
24/05/05 17:09:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/05 17:09:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
numbers = [1,2,3,4,5]
rdd = spark.sparkContext.parallelize(numbers)

In [6]:
rdd.collect()

[1, 2, 3, 4, 5]

In [7]:
data = [('A',25),('B',25),('A',30),('A',40)]
rdd1 = spark.sparkContext.parallelize(data)

In [8]:
rdd1.collect()

[('A', 25), ('B', 25), ('A', 30), ('A', 40)]

## Actions

In [9]:
count = rdd.count()
print('Count:', count)

Count: 5

In [10]:
print('First item:', rdd.first())

First item: 1

In [11]:
print('First 3 elements:', rdd.take(3))

First 3 elements: [1, 2, 3]

In [12]:
rdd.foreach(lambda x: print(x**2))

1
16
4
9
25

## Transformation

In [13]:
mapped_rdd = rdd.map(lambda x: (x**2, x**3))

In [14]:
result = mapped_rdd.collect()
print('Mapped rdd:', result)

Mapped rdd: [(1, 1), (4, 8), (9, 27), (16, 64), (25, 125)]

In [20]:
filtered = rdd.filter(lambda x: (x**2) < 17)
filtered.collect()

[1, 2, 3, 4]

In [21]:
reduced_rdd = rdd1.reduceByKey(lambda x,y: x+y)
reduced_rdd.collect()

[('B', 25), ('A', 95)]

In [22]:
sorted_rdd = rdd1.sortBy(lambda x: (x[0], x[1]))
sorted_rdd.collect()

[('A', 25), ('A', 30), ('A', 40), ('B', 25)]

In [23]:
rdd.saveAsTextFile('rdd.txt')

Py4JJavaError: An error occurred while calling o200.saveAsTextFile.
: org.apache.hadoop.mapred.FileAlreadyExistsException: Output directory file:/Users/bses/F1_Intern/Spark_tuto/rdd.txt already exists
	at org.apache.hadoop.mapred.FileOutputFormat.checkOutputSpecs(FileOutputFormat.java:131)
	at org.apache.spark.internal.io.HadoopMapRedWriteConfigUtil.assertConf(SparkHadoopWriter.scala:299)
	at org.apache.spark.internal.io.SparkHadoopWriter$.write(SparkHadoopWriter.scala:71)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopDataset$1(PairRDDFunctions.scala:1091)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopDataset(PairRDDFunctions.scala:1089)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$4(PairRDDFunctions.scala:1062)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1027)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$3(PairRDDFunctions.scala:1009)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:1008)
	at org.apache.spark.rdd.PairRDDFunctions.$anonfun$saveAsHadoopFile$2(PairRDDFunctions.scala:965)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.PairRDDFunctions.saveAsHadoopFile(PairRDDFunctions.scala:963)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$2(RDD.scala:1623)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1623)
	at org.apache.spark.rdd.RDD.$anonfun$saveAsTextFile$1(RDD.scala:1609)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:410)
	at org.apache.spark.rdd.RDD.saveAsTextFile(RDD.scala:1609)
	at org.apache.spark.api.java.JavaRDDLike.saveAsTextFile(JavaRDDLike.scala:564)
	at org.apache.spark.api.java.JavaRDDLike.saveAsTextFile$(JavaRDDLike.scala:563)
	at org.apache.spark.api.java.AbstractJavaRDDLike.saveAsTextFile(JavaRDDLike.scala:45)
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:103)
	at java.base/java.lang.reflect.Method.invoke(Method.java:580)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1570)

In [24]:
rdd_text = spark.sparkContext.textFile('rdd.txt')
rdd_text.collect()

['2', '3', '1', '4', '5']

In [22]:
spark.stop()

## Dataframe

In [25]:
rdd = spark.sparkContext.textFile('./data/data.txt')
result_rdd = rdd.flatMap(lambda line: line.split(" ")).map(lambda word:(word, 1)).reduceByKey(lambda x, y: x+y).sortBy(lambda x: x[1], ascending=False)

In [26]:
result_rdd.take(30)

[('the', 12),
 ('of', 7),
 ('a', 7),
 ('distributed', 5),
 ('in', 5),
 ('Spark', 4),
 ('as', 3),
 ('is', 3),
 ('API', 3),
 ('on', 3),
 ('Dataset', 3),
 ('RDD', 3),
 ('and', 2),
 ('results', 2),
 ('its', 2),
 ('data', 2),
 ('cluster', 2),
 ('that', 2),
 ('The', 2),
 ('was', 2),
 ('API.', 2),
 ('RDDs', 2),
 ('MapReduce', 2),
 ('programs', 2),
 ('function', 2),
 ('resilient', 1),
 ('dataset', 1),
 ('read-only', 1),
 ('multiset', 1),
 ('machines,', 1)]

In [27]:
df = spark.read.text('./data/data.txt')

result_df = df.selectExpr('explode(split(value, " ")) as word').groupby('word').count().orderBy(desc('count'))

In [28]:
result_df.take(10)

[Row(word='the', count=12),
 Row(word='of', count=7),
 Row(word='a', count=7),
 Row(word='in', count=5),
 Row(word='distributed', count=5),
 Row(word='Spark', count=4),
 Row(word='API', count=3),
 Row(word='RDD', count=3),
 Row(word='is', count=3),
 Row(word='on', count=3)]

In [29]:
csv_file_path = './data/products.csv'
df = spark.read.csv(csv_file_path, header=True)

In [30]:
df.printSchema()
df.show(5)

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: string (nullable = true)
 |-- price: string (nullable = true)

+---+--------------------+---------------+--------+------+
| id|                name|       category|quantity| price|
+---+--------------------+---------------+--------+------+
|  1|           iPhone 12|    Electronics|      10|899.99|
|  2|     Nike Air Max 90|       Clothing|      25|119.99|
|  3|KitchenAid Stand ...|Home Appliances|       5|299.99|
|  4|    The Great Gatsby|          Books|      50| 12.99|
|  5|L'Oreal Paris Mas...|         Beauty|     100|  9.99|
+---+--------------------+---------------+--------+------+
only showing top 5 rows

In [31]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

In [32]:
schema = StructType([
        StructField(name = 'id', dataType = IntegerType(), nullable = True),
        StructField(name = 'name', dataType = StringType(), nullable = True),
        StructField(name = 'category', dataType = IntegerType(), nullable = True),
        StructField(name = 'quantity', dataType = StringType(), nullable = True),
        StructField(name = 'price', dataType = DoubleType(), nullable = True),
])

In [33]:
df = spark.read.csv('./data/products.csv', header=True, schema=schema)

In [34]:
df.printSchema()
df.show(5)

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- category: integer (nullable = true)
 |-- quantity: string (nullable = true)
 |-- price: double (nullable = true)

+---+--------------------+--------+--------+------+
| id|                name|category|quantity| price|
+---+--------------------+--------+--------+------+
|  1|           iPhone 12|    NULL|      10|899.99|
|  2|     Nike Air Max 90|    NULL|      25|119.99|
|  3|KitchenAid Stand ...|    NULL|       5|299.99|
|  4|    The Great Gatsby|    NULL|      50| 12.99|
|  5|L'Oreal Paris Mas...|    NULL|     100|  9.99|
+---+--------------------+--------+--------+------+
only showing top 5 rows

In [35]:
df = spark.read.csv('./data/products.csv', header=True, inferSchema=True)

df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: double (nullable = true)

In [36]:
df = spark.read.csv('./data/stocks.txt', header=True, inferSchema=True)
df.printSchema()
df.show(5)

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: double (nullable = true)

+---+----------+-----------+--------+-------+
| id|      name|   category|quantity|  price|
+---+----------+-----------+--------+-------+
|  1|    iPhone|Electronics|      10| 899.99|
|  2|   Macbook|Electronics|       5|1299.99|
|  3|      iPad|Electronics|      15| 499.99|
|  4|Samsung TV|Electronics|       8| 799.99|
|  5|     LG TV|Electronics|      10| 699.99|
+---+----------+-----------+--------+-------+
only showing top 5 rows

In [37]:
df1 = df.select("id", "name", "category", "price")
df1.show(5)

+---+----------+-----------+-------+
| id|      name|   category|  price|
+---+----------+-----------+-------+
|  1|    iPhone|Electronics| 899.99|
|  2|   Macbook|Electronics|1299.99|
|  3|      iPad|Electronics| 499.99|
|  4|Samsung TV|Electronics| 799.99|
|  5|     LG TV|Electronics| 699.99|
+---+----------+-----------+-------+
only showing top 5 rows

In [38]:
df.filter(df.quantity>20).show(5)

+---+------------+--------+--------+-----+
| id|        name|category|quantity|price|
+---+------------+--------+--------+-----+
|  6|  Nike Shoes|Clothing|      30|99.99|
|  7|Adidas Shoes|Clothing|      25|89.99|
| 12|      Apples|    Food|     100|  0.5|
| 13|     Bananas|    Food|     150| 0.25|
| 14|     Oranges|    Food|     120| 0.75|
+---+------------+--------+--------+-----+
only showing top 5 rows

In [39]:
grouped_data = df.groupBy('category').agg({'quantity':'sum', 'price':'avg'})
grouped_data.show(5)

+-----------+-------------+------------------+
|   category|sum(quantity)|        avg(price)|
+-----------+-------------+------------------+
|       Food|          450|2.2960000000000003|
|     Sports|           35|             34.99|
|Electronics|           98| 586.6566666666665|
|   Clothing|          200|  99.2757142857143|
|  Furniture|           41|            141.99|
+-----------+-------------+------------------+
only showing top 5 rows

In [40]:
df2 = df.select('id','category').limit(10)
joined_df = df.join(df2, "id","inner")
joined_df.show(5)

+---+----------+-----------+--------+-------+-----------+
| id|      name|   category|quantity|  price|   category|
+---+----------+-----------+--------+-------+-----------+
|  1|    iPhone|Electronics|      10| 899.99|Electronics|
|  2|   Macbook|Electronics|       5|1299.99|Electronics|
|  3|      iPad|Electronics|      15| 499.99|Electronics|
|  4|Samsung TV|Electronics|       8| 799.99|Electronics|
|  5|     LG TV|Electronics|      10| 699.99|Electronics|
+---+----------+-----------+--------+-------+-----------+
only showing top 5 rows

In [41]:
df.orderBy('price').show(5)

+---+--------------+--------+--------+-----+
| id|          name|category|quantity|price|
+---+--------------+--------+--------+-----+
| 13|       Bananas|    Food|     150| 0.25|
| 12|        Apples|    Food|     100|  0.5|
| 14|       Oranges|    Food|     120| 0.75|
| 15|Chicken Breast|    Food|      50| 3.99|
| 16| Salmon Fillet|    Food|      30| 5.99|
+---+--------------+--------+--------+-----+
only showing top 5 rows

In [42]:
from pyspark.sql.functions import col
df.orderBy(col('price').desc(), col('id').desc()).show(5)

+---+----------+-----------+--------+-------+
| id|      name|   category|quantity|  price|
+---+----------+-----------+--------+-------+
|  2|   Macbook|Electronics|       5|1299.99|
|  1|    iPhone|Electronics|      10| 899.99|
|  4|Samsung TV|Electronics|       8| 799.99|
|  5|     LG TV|Electronics|      10| 699.99|
| 26|    Camera|Electronics|      10| 599.99|
+---+----------+-----------+--------+-------+
only showing top 5 rows

In [43]:
df.select('category').distinct().show(5)

+-----------+
|   category|
+-----------+
|       Food|
|     Sports|
|Electronics|
|   Clothing|
|  Furniture|
+-----------+
only showing top 5 rows

In [44]:
df.drop("quantity","category").show(10)

+---+----------------+-------+
| id|            name|  price|
+---+----------------+-------+
|  1|          iPhone| 899.99|
|  2|         Macbook|1299.99|
|  3|            iPad| 499.99|
|  4|      Samsung TV| 799.99|
|  5|           LG TV| 699.99|
|  6|      Nike Shoes|  99.99|
|  7|    Adidas Shoes|  89.99|
|  8| Sony Headphones| 149.99|
|  9|Beats Headphones| 199.99|
| 10|    Dining Table| 249.99|
+---+----------------+-------+
only showing top 10 rows

In [45]:
df.withColumn('revenue', df.price * df.quantity).show(5)

+---+----------+-----------+--------+-------+-------+
| id|      name|   category|quantity|  price|revenue|
+---+----------+-----------+--------+-------+-------+
|  1|    iPhone|Electronics|      10| 899.99| 8999.9|
|  2|   Macbook|Electronics|       5|1299.99|6499.95|
|  3|      iPad|Electronics|      15| 499.99|7499.85|
|  4|Samsung TV|Electronics|       8| 799.99|6399.92|
|  5|     LG TV|Electronics|      10| 699.99| 6999.9|
+---+----------+-----------+--------+-------+-------+
only showing top 5 rows

In [46]:
df_with_alias = df.withColumnRenamed('price','product_price').show(5)

+---+----------+-----------+--------+-------------+
| id|      name|   category|quantity|product_price|
+---+----------+-----------+--------+-------------+
|  1|    iPhone|Electronics|      10|       899.99|
|  2|   Macbook|Electronics|       5|      1299.99|
|  3|      iPad|Electronics|      15|       499.99|
|  4|Samsung TV|Electronics|       8|       799.99|
|  5|     LG TV|Electronics|      10|       699.99|
+---+----------+-----------+--------+-------------+
only showing top 5 rows